/********************************* 
- MEDIA QUERIES
*********************************/
@media screen and (min-width: 768px) {
  .grid__container {
    grid-template-columns: repeat(2, 1fr);   
  }
  .md__order__right {
    order: 1;
  }
  .md__order__left {
    order: 0;
  }  
  .content {
    align-items: flex-start;
    text-align: left;
  }
  
  /* FEATURES SECTION */
  .features__form .btn__submit {
    margin-top: 0;
  }
  /* TEAM SECTION */
  .section__team:before {
    content: url(./images/bg-curve-desktop.svg);
    top: -90px;
  }
  .section__team .grid__container {
    padding-bottom: 8rem;
  }
  .team__works__link {
    margin: .5rem 0 5rem;
  }
  /* SIGNING */
  .section__signin .grid__container {
    place-items: start;
    align-items: center;
  }
  .signin__form {
    justify-self: flex-end;
    align-items: flex-start;
  }    
  /* FOOTER */
  .grid__container__columns {
    display: grid;
    grid-template-columns: 35% 35% 28%;
    grid-template-rows: 100px 175px;
    gap: 2rem;
  }
  .footer__logo {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .footer__contact {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 0;
  }
  .footer__nav {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    columns: 2;
  }
  .social__icons {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    margin-top: 0;
  }
  .social__menu {
    padding: 0;
  }
}

@media screen and (min-width: 1024px){ 
  .features__form {
    display: grid;
    grid-template-columns: 25vw 1fr;
    align-items: flex-start;
    gap: 1rem;
    width: 40vw;
  }
  /********************************* 
  - SIGNIN SECTION
  *********************************/
  .signin__form {
    width: 30vw;
    align-items: flex-start;
  }
  .signin__input {
    width: 30vw;
  }
  .btn__signin {
    width: 50%;
  }
   /* FOOTER */
   .grid__container__columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px){ 
  .title {
    width: 25ch;
  }
  .team__title {
    font-size: 2.5rem;
    width: 28ch;
  }
  .text {
    width: 58ch;
  }
  .signin__text {
    width: 56ch;
  }
}